:root {
  --colour-primary: rgb(84, 198, 211);
  --colour-primary-dark: rgb(0, 183, 199);
  --colour-primary-darker: rgb(0, 171, 189);
  --colour-accent: rgb(254, 147, 46);
  --colour-footer: rgb(0, 88, 138);
  --colour-footer-light: rgb(0, 125, 190);
  --colour-grey-light-1: #faf9f9;
  --colour-grey-light-2: #f4f2f2;
  --colour-grey-light-3: #f0eeee;
  --colour-grey-light-4: #ccc;
  --colour-grey-dark-1: rgb(35, 31, 32);
  --colour-grey-dark-2: rgb(99, 100, 102);
  --colour-grey-dark-3: rgb(167, 169, 172);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Make the default font size to 10px i.e 1rem = 10px */
}

body {
  font-family: "Century Gothic", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}
